@page
@model ClinicPresentationLayer.Pages.Appointment.CreateModel

@{
    // ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicPresentationLayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicPresentationLayer.styles.css" asp-append-version="true" />
</head>

<body>
    <div id="main-wrapper" class="show">
        <h1>Create</h1>

        <h4>Appointment</h4>
        <hr />
        <div class="row">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Appointment.DentistId" class="control-label"></label>
                    <select asp-for="Appointment.DentistId" class="form-control" asp-items="ViewBag.DentistId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.StartSlot" class="control-label"></label>
                    <select asp-for="Appointment.StartSlot" class="form-control" asp-items="ViewBag.StartSlot"></select>
                    <span asp-validation-for="Appointment.StartSlot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Appointment.ServiceId" class="control-label"></label>
                    <select asp-for="Appointment.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                </div>
                @* <div class="form-group">
                <label asp-for="Appointment.Status" class="control-label"></label>
                <input asp-for="Appointment.Status" class="form-control" />
                <span asp-validation-for="Appointment.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Appointment.EndSlot" class="control-label"></label>
                <input asp-for="Appointment.EndSlot" class="form-control" />
                <span asp-validation-for="Appointment.EndSlot" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Appointment.RoomId" class="control-label"></label>
                    <select asp-for="Appointment.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JQuery v3.5.1 -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- popper js -->
    <script src="~/plugins/popper/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Moment -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- Date Range Picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.min.js"></script>

    <!-- Datatable -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/init-tdatatable.js"></script>

    <!-- Main Custom JQuery -->
    <script src="~/js/toggleFullScreen.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/option-themes.js"></script>

</body>

</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
