@using BusinessObjects.Entities
@using ClinicPresentationLayer.Extension
@{
    var user = Context.Session.GetObject<User>("UserAccount");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Responsive Navbar | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
        }

        body {
            font-family: montserrat;
        }

        .content-body {
            margin-top: 40px;
            padding: 20px;
        }

        .navbar-nav .nav-item .nav-link {
            color: white !important;
        }

        .navbar-brand, .navbar-nav .nav-link {
            color: white !important;
        }

        .form-inline .form-control {
            width: 300px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/">Clinic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                @if (user != null)
                {
                    @if (@user.Role == 1)
                    {
                        <a class="nav-link active" aria-current="page" href="/Appointment/List">Appointment</a>
                    }
                }
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Dropdown</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
            <div class="fullscreen notification_dropdown widget-5 mt-3 mb-3 d-flex">
                @if (user != null)
                {
                    @*< div>
                        <span class="text-lg"></span>
                        <span class="text-red-500 ml-2 text-lg"></span>
                    </div> *@
                    <div class="dropdown ml-2 mb-1">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, @user.Username
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/ProfileUser/Details?id=@user.Id">Profile</a>
                            <a class="dropdown-item" href="/Login">Logout</a>
                        </div>
                    </div>

                }
                else
                {
                    <!-- Login Button -->
                    <a href="/Login" class="btn btn-success">Login</a>
                }
            </div>
        </div>
    </nav>

    <div class="content-body">
        <div class="warper container-fluid">
            <div class="container mb-5">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Optional: Scripts for specific pages or components -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
